/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}

/* flip the pane when hovered */
/* .flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
} */

.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

/* .flip-container, .front, .back {
	width: 100%
	height: auto;
} */

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.spacer {
  z-index: -1;
  visibility: hidden;
}
.spacer img {
  height: auto;
}


/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
  float: left;
  margin-top: 0;
  margin-left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
