div#accordion button.btn.btn-link {
  color: black;
  text-decoration: none;
  font-family: "Lucida Grande";
}

.card-body {
  background-color: rgb(175, 216, 255);
}

div#twitch {
  position:relative;
  padding-top:56.25%;
}

iframe#twitch{
  position:absolute;
  top:0;
  left:0;
}
