div .colOV {
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

div .colOV .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 25pt;
  border-radius: 3px;
  font-weight: 800;
}

.dark {
  -webkit-filter: brightness(30%);
  -o-filter: brightness(30%);
  filter: brightness(30%);
  -webkit-transition: 0.3s -webkit-filter linear;
  -o-transition: 0.3s -o-filter linear;
  overflow: hidden;
}
